<div class="container">
    <div class="wrapper">
        <div class="title"> <sapn class="tit"> Inicio de sesión  </sapn> </div>
        <form action="#" class="form">

            <div class="row">
                <i class="icon fas fa-user "></i>
                <input class="input" type="text" required placeholder="Email or phone">
            </div>

            <div class="row">
                <i class=" icon fas fa-lock  "></i>
                <input class="input" type="password" required placeholder="Password">
            </div>

            <div class="pass"><a class= "olvideContra" href="#">Forgot password?</a></div>
            <div class="row button">
                <input class="input" type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
        </form>

    </div>

</div>